.mediaViewInfo {
	--web-view-name: adhd - m;
	--web-view-id: adhd___m;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: adhd___m;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.adhd___m_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	background: #E5E5E5;
	width: 1200px;
	height: 2444px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: adhd - m;
	--web-view-id: adhd___m;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Footer_Class {
	position: absolute;
	width: 1170px;
	height: 120px;
	left: 15px;
	top: 2324px;
	overflow: visible;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 30px;
	left: 0px;
	top: 90px;
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.HET_PROJECT_Class {
	position: absolute;
	left: 715px;
	top: 48px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: het_project.html;
	cursor: pointer;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(44,111,170,1);
}
.MEDIA_Class {
	position: absolute;
	left: 358px;
	top: 48px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: media.html;
	cursor: pointer;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(44,111,170,1);
}
.Body_Class {
	position: absolute;
	width: 594px;
	height: 1927px;
	left: 303px;
	top: 352px;
	overflow: visible;
}
.bronvermelding_Class {
	position: absolute;
	left: 24.5px;
	top: 1881px;
	overflow: visible;
	width: 496px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Raleway;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Group_7_Class {
	position: absolute;
	width: 594px;
	height: 299px;
	left: 0px;
	top: 1570px;
	overflow: visible;
}
.Rectangle_57 {
	filter: drop-shadow(2px 4px 8px rgba(52, 130, 199, 1));
	position: absolute;
	overflow: visible;
	width: 618px;
	height: 323px;
	left: 0px;
	top: 0px;
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 594px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.Kleuterschool_Class {
	position: absolute;
	left: 80.5px;
	top: 7px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Basisschool_Class {
	position: absolute;
	left: 234.5px;
	top: 7px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Adolescentie_Class {
	position: absolute;
	left: 449.5px;
	top: 7px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Onoplettend_Class {
	position: absolute;
	left: 5px;
	top: 35px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Hyperactief_Class {
	position: absolute;
	left: 5px;
	top: 134px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Impulsief_Class {
	position: absolute;
	left: 5px;
	top: 160px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____Kort_spel___3_min________a_Class {
	position: absolute;
	left: 79px;
	top: 35px;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
._____wervelwind__Class {
	position: absolute;
	left: 79px;
	top: 134px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____luistert_niet_____geen_gev_Class {
	position: absolute;
	left: 79px;
	top: 160px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____Korte_activiteiten___10_mi_Class {
	position: absolute;
	left: 233px;
	top: 35px;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____onrustig_wanneer_rust_is_v_Class {
	position: absolute;
	left: 233px;
	top: 134px;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____niet_op_de_beurt_wachten___Class {
	position: absolute;
	left: 233px;
	top: 160px;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____minder_doorzetten_dan_leef_Class {
	position: absolute;
	left: 446px;
	top: 35px;
	overflow: visible;
	width: 142px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____ongedurig_Class {
	position: absolute;
	left: 446px;
	top: 134px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____zwakke_zelfcontrole_____ro_Class {
	position: absolute;
	left: 446px;
	top: 160px;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 269px;
	left: 77.5px;
	top: 29.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_27 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 28px;
	left: 77.5px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_28 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 28px;
	left: 231.5px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 28px;
	left: 444.5px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 269px;
	left: 231.5px;
	top: 29.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 269px;
	left: 444.5px;
	top: 29.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 593px;
	height: 1px;
	left: 0.5px;
	top: 128.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_26 {
	overflow: visible;
	position: absolute;
	width: 593px;
	height: 1px;
	left: 0.5px;
	top: 154.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Voorbeelden_van_typische_ADHD__Class {
	position: absolute;
	left: 24.5px;
	top: 1515px;
	overflow: visible;
	width: 537px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Group_6_Class {
	position: absolute;
	width: 594px;
	height: 346px;
	left: 0px;
	top: 1151px;
	overflow: visible;
}
.Rectangle_57_bu {
	filter: drop-shadow(2px 4px 8px rgba(52, 130, 199, 1));
	position: absolute;
	overflow: visible;
	width: 618px;
	height: 370px;
	left: 0px;
	top: 0px;
}
.Rectangle_58_bv {
	position: absolute;
	overflow: visible;
	width: 594px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.ADHD__overwegend_hyperactief_i_Class {
	position: absolute;
	left: 10.5px;
	top: 7px;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.ADHD__overwegend_onoplettend_b_Class {
	position: absolute;
	left: 307.5px;
	top: 7px;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.____moeilijk_stil_kunnen_blijv_Class {
	position: absolute;
	left: 6px;
	top: 37px;
	overflow: visible;
	width: 249px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.____snel_afgeleid_zijn_____dro_Class {
	position: absolute;
	left: 303px;
	top: 37px;
	overflow: visible;
	width: 272px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Line_22_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 316px;
	left: 297.5px;
	top: 29.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_30 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 28px;
	left: 297.5px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.ADHD_is_opgenomen_in_de_DSM_5__Class {
	position: absolute;
	left: 24.5px;
	top: 583px;
	overflow: visible;
	width: 546px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Wat_zijn_de_kenmerken_van_ADHD_Class {
	position: absolute;
	left: 24.5px;
	top: 548px;
	overflow: visible;
	width: 318px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(0,0,0,1);
}
.Languit_staat_ADHD_voor_Attent_Class {
	position: absolute;
	left: 24.5px;
	top: 35px;
	overflow: visible;
	width: 541px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.ADHD__wat_is_dat_precies__Class {
	position: absolute;
	left: 24.5px;
	top: 0px;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(0,0,0,1);
}
.Header_Class {
	position: absolute;
	width: 1200px;
	height: 415px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_74 {
	position: absolute;
	overflow: visible;
	width: 1200px;
	height: 38px;
	left: 0px;
	top: 59px;
}
.achtergrond_Class {
	position: absolute;
	width: 1170px;
	height: 63px;
	left: 15px;
	top: 0px;
	overflow: visible;
}
.Rectangle_16_ba {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.Rectangle_15_bc {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 63px;
	left: 0px;
	top: 0px;
}
.knoppen_Class {
	position: absolute;
	width: 1170px;
	height: 148px;
	left: 15px;
	top: 267px;
	overflow: visible;
}
.Group_8_Class {
	position: absolute;
	width: 112px;
	height: 114px;
	left: 430px;
	top: 34px;
	overflow: visible;
}
.Rectangle_56 {
	filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 132px;
	left: 0px;
	top: 0px;
}
.Wetgeving_Class {
	position: absolute;
	left: 10px;
	top: 91px;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: wetgeving.html;
	cursor: pointer;
	line-height: 24px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 97px;
	height: 1px;
	left: 7.5px;
	top: 86px;
	transform: matrix(1,0,0,1,0,0);
}
.Medicatie_Class {
	position: absolute;
	left: 10px;
	top: 65px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: medicatie.html;
	cursor: pointer;
	line-height: 24px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 97px;
	height: 1px;
	left: 7.5px;
	top: 60px;
	transform: matrix(1,0,0,1,0,0);
}
.ADHD_Class {
	position: absolute;
	left: 10px;
	top: 39px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: adhd.html;
	cursor: pointer;
	line-height: 24px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 97px;
	height: 1px;
	left: 7.5px;
	top: 34px;
	transform: matrix(1,0,0,1,0,0);
}
.Methylfenidaat_Class {
	position: absolute;
	left: 10px;
	top: 13px;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: methylfenidaat.html;
	cursor: pointer;
	line-height: 24px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 97px;
	height: 1px;
	left: 7.5px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.tips_Class {
	position: absolute;
	width: 30px;
	height: 20px;
	left: 766px;
	top: 10px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: adhd___t.html;
	cursor: pointer;
}
.TIPS_br_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.risicos_Class {
	position: absolute;
	width: 58px;
	height: 20px;
	left: 688px;
	top: 10px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: adhd___r.html;
	cursor: pointer;
}
.RISICO_S_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.verslaafd_Class {
	position: absolute;
	width: 80px;
	height: 20px;
	left: 588px;
	top: 10px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: verslaafd.html;
	cursor: pointer;
}
.VERSLAAFD_bv_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.methylfenidaat_Class {
	position: absolute;
	width: 128px;
	height: 30px;
	left: 440px;
	top: 10px;
	overflow: visible;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 5px;
	left: 0px;
	top: 25px;
}
.METHYLFENIDAAT_by_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.home_Class {
	position: absolute;
	width: 45px;
	height: 20px;
	left: 375px;
	top: 10px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.HOME_b_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.zoekbalk_Class {
	position: absolute;
	width: 262px;
	height: 34px;
	left: 910px;
	top: 14px;
	overflow: visible;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 34px;
	left: 0px;
	top: 0px;
}
.Zoek_op_trefwoord_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
.glassmagnifiermagnifyingsearch_Class {
	opacity: 0.35;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 227px;
	top: 2px;
	overflow: visible;
}
.banner5_Class {
	position: absolute;
	width: 1170px;
	height: 175px;
	left: 15px;
	top: 92px;
	overflow: visible;
}
.Informatie_over_misbruik_methy_Class {
	position: absolute;
	left: 30px;
	top: 63px;
	overflow: visible;
	width: 478px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -16px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.ADHD_MEDICATIE_Class {
	position: absolute;
	left: 30px;
	top: 11px;
	overflow: visible;
	width: 313px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -11px;
	text-align: left;
	font-family: SansSerif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}